@import "reset";
@import "variables/global";
@import "themes/light";
@import "themes/dark";

body {
    font: var(--body1);
    color: var(--text-primary);
}

.app {
    min-height: 100vh;
    background: var(--page-bg-color);
}

.content-page {
    display: flex;
    padding-top: var(--header-height);
}
