.root {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 34px;
  height: 34px;
  border: 1px solid var(--border-color);
  background-color: var(--main-bg-color);
  border-radius: 8px;
  cursor: pointer;

  &:hover{
    background-color: var(--main-bg-hover-color) ;
  }
}

.icon {
  color: var(--text-fig);
}
