.root {
    height: calc(100vh - var(--header-height));
    background-color: var(--main-bg-color);
    width: var(--side-bar_width);
    border-right: 1px solid var(--border-color);
    padding: 16px 8px;
}

.collapsed {
    width: var(--side-bar_width-collapsed);
    transition: width 0.3s;
}

.links {
    display: flex;
    flex-direction: column;
}
