.root{
    width: 100%;

    .wrap{
        width: 100%;
        .link {
            .collapsed {
                display: none;
            }

            &:hover {
                color: var(--main-text-hover-color);
                background-color: var(--main-bg-hover-color);
                border-radius: var(--border-radius);
            }
        }
    }


}
