.root {
    border: 1px solid var(--border-color);
    background-color: var(--main-bg-color);
    border-radius: var(--border-radius);
    color: var(--text-primary);
    outline: none;

    &:hover {
        border: 1px solid var(--border-hover-color);
    }

    &:disabled {
        background-color: var(--bg-color-disabled);
        color: var(--color-disabled);
    }
}

.small {
    padding: 3px 8px;
}

.medium {
    padding: 7px 12px;
}

.large {
    padding: 11px 16px;
}

.fullWidth {
    width: 100%;
}

.disabled {
    opacity: 0.7;
    border-color: transparent;

    &:hover {
        border-color: transparent;
    }
}
