.app.dark{

  --text-primary: #ffffff;
  --text-secondary: #71717A;
  --text-fig: #66B2FF;

  --bg-color: #011E3C;

  --header-border-color: #1A283B;
  --header-bg-color: #071A2F;
  --header-text-hover-color: #92BAE4;
  --header-bg-hover-color: #132F4C;
}
