.app.dark{

  --text-primary: #ffffff;
  --text-secondary: #71717A;
  --text-fig: #66B2FF;

  --page-bg-color: #011E3C;

  --border-color: #1A283B;
  --main-bg-color: #071A2F;
  --main-text-hover-color: #92BAE4;
  --main-bg-hover-color: #132F4C;
}
