.app_dark_theme {
    --text-primary: #fff;
    --text-secondary: #71717a;
    --text-fig: #66b2ff;
    --page-bg-color: #011e3c;
    --border-color: #1a283b;
    --border-hover-color: #fff;
    --main-bg-color: #071a2f;
    --main-text-hover-color: #92bae4;
    --main-bg-hover-color: #132f4c;
    --overlay-colog: rgb(255 255 255 / 10%);
    --color-disabled: #949aa2;
    --bg-color-disabled: #283543;
    --skeleton-color: #a49e9e;
    --card-bg-color: #131d28;
    --card-border-color: #1e262e;
    --card-border-hover-color:
        #0059b2
;
}
