.app.light {
    --text-primary: #070708;
    --text-secondary: #71717a;
    --text-fig: #0072e5;
    --page-bg-color: #fff;
    --border-color: #e7ebef;
    --main-bg-color: #fff;
    --main-text-hover-color: #3f4f60;
    --main-bg-hover-color: #f4f6f9;
}
