.app_light_theme {
    --text-primary: #070708;
    --text-secondary: #71717a;
    --text-fig: #0072e5;
    --page-bg-color: #fff;
    --border-color: #e7ebef;
    --border-hover-color: #000;
    --main-bg-color: #fff;
    --main-text-hover-color: #3f4f60;
    --main-bg-hover-color: #f4f6f9;
    --overlay-colog: rgba(0 0 0 / 60%);
    --color-disabled: #8b8b8b;
    --bg-color-disabled: #f0f0f0;
    --skeleton-color: #a49e9e;
    --card-bg-color: #fafcfe;
    --card-border-color:#e5eaf2;
    --card-border-hover-color:#99ccf3;
}
