.app.light{

  --text-primary: #070708;
  --text-secondary: #71717A;
  --text-fig: #0072E5;

  --page-bg-color: #ffffff;

  --border-color: #E7EBEF;
  --main-bg-color: #ffffff;
  --main-text-hover-color: #3F4F60;
  --main-bg-hover-color: #F4F6F9;
}
