.root {
    display: flex;
    align-items: center;
    justify-content: right;
    width: 100%;
    height: var(--header-height);
    border-bottom: 1px solid;
    border-color: var(--border-color);
    padding: 8px 16px;
    z-index: 1100;
    background: var(--main-bg-color);
}

.actions {
    display: flex;
    gap: 8px;
}

.button {
    margin-left: 16px;
}
