.root {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header {
    display: flex;
    gap: 24px;
    padding: 12px;
}

.info {
    display: flex;
    gap: 24px;
    margin-top: 24px;
    flex-direction: column;
    width: 40em;
}

.rootActions {
    margin-top: 44px;
}

.actions {
    display: flex;
    gap: 24px;
    justify-content: flex-end;
}
