.root {
    display: flex;
    column-gap: 16px;
    padding: 10px;
    border: 1px solid var(--text-primary);
    border-radius: 12px;
}

.header {
    display: flex;
    align-items: center;
}

.text {
    margin-top: 10px;
}

.username {
    margin-left: 10px;
}
