.root {
  color: var(--text-primary);
  text-decoration: none;
  font: var(--body2);
  font-weight: bold;
  padding: 8px;

  &:hover {
    color: var(--main-text-hover-color);
    background-color: var(--main-bg-hover-color);
    border-radius: 8px;
  }
}
